.wrap{
  max-width: 920px;
  margin: 0 auto;
  padding: 22px 18px 60px;
}


.banner{
  width: 100%;
  height: auto;
  display: block;
  border-radius: 14px;
  margin-bottom: 20px;
}

.title-area{
  text-align: center;
  margin-bottom: 12px;
}

.title-area p{
  color:gray;
  font-size: 14px;
  line-height: 1.6;
}
